<div
  [class.darkMode]="isDarkTheme$ | async"
  class="footer">
  <div class="footer-container">
    <div class="logo">
      <img ngSrc="favicon.ico" alt="logo" height="30" width="28">
    </div>
    <div class="gap">
      <div>
        <ul>
          <li><a [class.darkMode]="isDarkTheme$ | async" href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Platform</a></li>
          <li><a href="">Technology</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="">Benchmark</a></li>
          <li><a href="">Use Cases</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Careers</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="">Contact</a></li>
          <li><a href="">Features</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div
    [class.darkMode]="isDarkTheme$ | async"
    class="info">
    <span>&copy; 2023 <strong>VivaNet</strong>. - Visas cenas norādītas EUR ar PVN 21%</span>
  </div>
</div>


