<mat-toolbar>
  <button (click)="onToggleSideNav()"
          mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">VivaNet</span>
  <span class="spacer"></span>
  <button (click)="onThemeChange()" mat-icon-button>
    <mat-icon>{{(isDarkTheme$ | async) ? 'nightlight' : 'light_mode'}}</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>shopping_basket</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>input</mat-icon>
  </button>
</mat-toolbar>
