.spacer {
  flex: 1 1 auto;
}

.border {
  background: black;

  &.darkMode {
    background: #FFFFFF;
  }
}

.search-icon {
  margin-left: 4px;
}

.search-form-field {
  margin-top: 22px;
  width: 180px;
}

