.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: #FFFFFF;

  &.darkMode {
    background: #000000;
  }
}

.text {
  &.darkMode {
    color: #ffffff;
  }
}
